<style>
    .btn-custom {
        font-size: 1.5rem;
        padding: 15px 30px;
        transition: transform 0.2s, box-shadow 0.2s;
        margin: 10px;
    }

    .btn-custom:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>

<div class="container mt-lg-1">
    <div class="text-center mb-4">
        <h2>ברוך הבא לאוצר הספרים </h2>
    </div>
    <div class="btn-group-vertical btn-group-lg w-100" role="group" aria-label="Basic example">
        <a asp-area="" asp-controller="Libraries" asp-action="Index" class="btn btn-primary btn-custom">ספריות</a>
        <a asp-area="" asp-controller="Shelves" asp-action="Index" class="btn btn-primary btn-custom">מדפים</a>
        <a asp-area="" asp-controller="Books" asp-action="Index" class="btn btn-primary btn-custom">ספרים</a>
    </div>
</div>
